@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Lora", serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303030;
  color: #ffffff;
  position: absolute;
}

body {
  background: url("./background.png") no-repeat;
  background-size: cover;
}

#root {
  width: 100%;
  height: 100%;
}
#box {
  display: flex;
  align-content: center;
  position: center;
  height: 100%;
  width: 100%;
}
